<a href="#web-section">
  <svg class="arrows">
		<!-- <path class="a1" d="M0 0 L30 32 L60 0"></path> -->
		<path class="a2" d="M0 20 L30 52 L60 20"></path>
		<!-- <path class="a3" d="M0 40 L30 72 L60 40"></path> -->
	</svg>
</a>

<section style="min-height:100vh;" id="web-section">
  <h2 class="intro-title" style="font-size: 2.5rem; text-align: center; padding: 20px"> What we offer...</h2>
  <div style="border: 1px solid black; padding: 20px; border-radius: 5px;" class="section-header">
    <h2>Top Web Deisgn for Business and Freelancers ✔</h2>
  </div>
  <div style="margin-top: 50px; border: 1px solid black; padding: 20px; border-radius: 5px;" class="section-header">
    <h2>Affordable Hosting Plans ✔</h2>
  </div>
  <div style="margin-top: 50px; border: 1px solid black; padding: 20px; border-radius: 5px;" class="section-header">
    <h2>Included Logo and Graphic Design ✔</h2>
  </div>
  <div style="margin-top: 50px; border: 1px solid black; padding: 20px; border-radius: 5px;" class="section-header">
    <h2>Search Engine Optimised ✔</h2>
  </div>
  <div style="margin-top: 50px; border: 1px solid black; padding: 20px; border-radius: 5px;" class="section-header">
    <h2>Business Card and Flyer Printing ✔</h2>
  </div>
  <div style="margin-top: 50px; border: 1px solid black; padding: 20px; border-radius: 5px;" class="section-header">
    <h2>Banner, Instagram and Facebook Ad Design ✔</h2>
  </div>
</section>
